In [1]:
import os
import pandas as pd
import numpy as np
from os.path import *

In [2]:
label = pd.read_csv('1_label.csv')
neuro = pd.read_csv('1_neuro.csv')

In [3]:
label

,Unnamed: 0,seconds,agg_ex_arousal,agg_ex_valence,self_arousal,self_valence,partner_arousal,partner_valence,arousal,valence
0,0,5,1.0,3.0,1,2,2,3,0,0
1,1,10,1.0,3.0,1,2,3,3,0,0
2,2,15,1.0,3.0,2,2,3,3,0,0
3,3,20,1.0,3.0,2,3,3,3,0,0
4,4,25,1.0,3.0,2,3,3,3,0,0
...,...,...,...,...,...,...,...,...,...,...
176,176,885,NaN,NaN,3,3,4,3,0,0
177,177,890,NaN,NaN,3,3,2,3,0,0
178,178,895,NaN,NaN,4,4,2,4,0,0
179,179,900,NaN,NaN,3,3,2,4,0,0
180,180,905,NaN,NaN,2,3,2,4,0,0

In [9]:
neuro_ = neuro.query('timestamp > 1548120820000').query('timestamp < 1548121672000')

In [5]:
subjects = pd.read_csv('subjects.csv')

In [6]:
subjects

    pid       initTime      startTime        endTime
0     1  1548120098000  1548120820000  1548121672000
1     2  1548120098000  1548120816000  1548121668000
2     3  1548137663000  1548137965000  1548138651000
3     4  1548137663000  1548137961000  1548138647000
4     5  1548205972000  1548206905000  1548207532000
5     6  1548205972000  1548206906000  1548207533000
6     7  1548223953000  1548224623000  1548225234000
7     8  1548223953000  1548224621000  1548225232000
8     9  1548724984000  1548725858000  1548726472000
9    10  1548724972000  1548725861000  1548726475000
10   11  1548831317000  1548831934000  1548832544000
11   12  1548831328000  1548831937000  1548832547000
12   13  1548898456000  1548898955000  1548899564000
13   14  1548898460000  1548898956000  1548899565000
14   15  1549934956000  1549935390000  1549936003000
15   16  1549934973000  1549935389000  1549936002000
16   17  1552029657000  1552030184000  1552030914000
17   18  1552029450000  1552030167000  1552030897000
18   19  1552116814000  1552117901000  1552118520000
19   20  1552116831000  1552117894000  1552118513000
20   21  1552378356000  1552378718000  1552379322000
21   22  1552378385000  1552378669000  1552379273000
22   23  1552624183000  1552624550000  1552625156000
23   24  1552624192000  1552624528000  1552625134000
24   25  1552633369000  1552633669000  1552634290000
25   26  1552633398000  1552633654000  1552634275000
26   27  1552894589000  1552895231000  1552895876000
27   28  1552894607000  1552895259000  1552895904000
28   29  1553834963000  1553835417000  1553836057000
29   30  1553835075000  1553835415000  1553836055000
30   31  1553843697000  1553844121000  1553844777000
31   32  1553843647000  1553844125000  1553844781000

In [11]:
ts = list(neuro_.timestamp)

In [13]:
(max(ts) - min(ts))/1000

851.869

In [18]:
neuro_['ts'] = neuro.timestamp.apply(lambda x: x -x%1000)

In [21]:
neuro_.drop(['value'], axis =1).dropna()

,Unnamed: 0,timestamp,delta,lowAlpha,highAlpha,lowBeta,highBeta,lowGamma,middleGamma,theta,ts
796,796,1548120913308,117562.0,150331.0,84125.0,13891.0,8991.0,24363.0,521992.0,728209.0,1548120913000
806,806,1548120923283,16610.0,52533.0,20875.0,26200.0,3507.0,7412.0,667409.0,113252.0,1548120923000
808,808,1548120925278,9223.0,8986.0,7153.0,7755.0,2653.0,2532.0,228605.0,46668.0,1548120925000
2259,2259,1548120820689,151358.0,77237.0,53420.0,77722.0,9556.0,7736.0,1453364.0,813273.0,1548120820000
2260,2260,1548120821697,18626.0,36372.0,21400.0,55311.0,2814.0,4741.0,1079635.0,134751.0,1548120821000
...,...,...,...,...,...,...,...,...,...,...,...
3106,3106,1548121667260,5117.0,2797.0,11521.0,9366.0,1155.0,1226.0,42230.0,33747.0,1548121667000
3107,3107,1548121668261,24726.0,164470.0,17925.0,81387.0,3399.0,4958.0,431170.0,134633.0,1548121668000
3108,3108,1548121669264,83612.0,16047.0,45715.0,24382.0,2255.0,2090.0,133612.0,190579.0,1548121669000
3109,3109,1548121670267,254464.0,148092.0,183552.0,608043.0,30989.0,54663.0,1702569.0,2106455.0,1548121670000
3110,3110,1548121671249,2700.0,13247.0,5962.0,2426.0,453.0,1462.0,136298.0,20861.0,1548121671000